/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f4f4;
}

.forgot-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.forgot-box {
  width: 90%;
  max-width: 1300px;
  background: #fff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

/* ====== LEFT SIDE CONTENT ====== */
.forgot-left {
  padding: 60px 50px;
}

.logo {
  font-size: 42px;
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}

.back {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 25px;
  cursor: pointer;
  color: #444;
}

.forgot-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.forgot-subtitle {
  font-size: 15px;
  color: #666;
  width: 90%;
  margin-bottom: 25px;
}

/* ====== INPUT ====== */
.label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.input-email {
  width: 100%;
  padding: 13px 15px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  outline: none;
  margin-bottom: 20px;
  font-size: 15px;
}

.submit-btn {
  width: 100%;
  padding: 14px 0;
  background: #159d89;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #128673;
}

/* ===== TEXT SEPERATOR ===== */
.verify-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

.line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.mb-6 {
    display:block  !important;
}
.or {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}

/* ====== SOCIAL LOGIN ====== */
.social-boxes {
  display: flex;
  gap: 20px;
}

.social-box {
  width: 120px;
  height: 55px;
  border-radius: 10px;
  background: #f5f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #eaeaea;
}

.social-box:hover {
  transform: scale(1.05);
}

/* ====== RIGHT SIDE IMAGE ====== */
.forgot-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ====== RESPONSIVE ====== */

@media (max-width: 992px) {
  .forgot-box {
    grid-template-columns: 1fr;
  }

  .forgot-right {
    height: 350px;
  }

  .forgot-right img {
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .forgot-left {
    padding: 40px 25px;
  }

  .forgot-title {
    font-size: 28px;
  }

  .submit-btn {
    font-size: 16px;
  }

  .social-box {
    width: 100px;
    height: 50px;
  }
}
